  
<div class="container mx-auto px-8 border-t-2 mt-8 py-8">
    <div class="sm:flex justify-between">
      <div class="grid grid-cols-2 mb-10 sm:mb-0">
        <div class="pr-5 sm:pr-14">
          <p>Lorem ipsum</p>
          <nav>
            <a href="#" class="block">Nav 1</a>
            <a href="#" class="block">Nav 2</a>
            <a href="#" class="block">Nav 3</a>
            <a href="#" class="block">Nav 4</a>
          </nav>
        </div>
        <div>
          <p>Lorem ipsum</p>
          <nav>
            <a href="#" class="block">Nav 1</a>
            <a href="#" class="block">Nav 2</a>
            <a href="#" class="block">Nav 3</a>
            <a href="#" class="block">Nav 4</a>
          </nav>
        </div>
      </div>
      <div>
        <p class="pb-2">Subscribe to our newsletter</p>
        <input type="email" placeholder="" class="border-2 focus:border-b-black outline-none" />
        <div class="sm:text-right mt-2">
          <button type="submit" class="btn-primary">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
  
  
  
