

<header class="container mx-auto px-8 min-h-screen flex flex-col mb-6 sm:mb-12">

    <div class="text-center sm:text-left sm:flex justify-between items-center border-b-2 py-5">
      <p class="mb-5 sm:mb-0">Name of Company</p>
      <div class="flex items-center">
        <div class="hidden sm:inline-block dark-mode pr-4">
          <button onclick="document.body.classList.toggle('dark')" class="bg-gray-500 h-8 w-16 p-1 inline-block rounded-full cursor-pointer text-left dark:text-right">
            <div class="bg-white h-6 w-6 p-1 inline-block rounded-full">
              
              <!-------SUN-->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 hidden dark:block text-black">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
            </svg>
  
            <!------MOON-->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 dark:hidden ">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
            </svg>
            
            </div>
          </button>
        </div>
        <nav class="flex justify-between sm:justify-center w-full max-w-md gap-3">
          <a href="#" class="pr-2 inline-block">Nav 1</a>
          <a href="#" class="pr-2 inline-block">Nav 2</a>
          <a href="#" class="pr-2 inline-block">Nav 3</a>
          <a href="#" class="inline-block">Nav 4</a>
        </nav>
      </div>
      
    </div>
   

    

    <div class="mt-10 mb-8 {% if page.header.title-align == 'right' %} text-right {% endif %}">
      <h1 class="text-3xl sm:text-5xl font-extrabold uppercase">{{page.header.title}}</h1>
    </div>
  
    
    <div class="grow relative">
      <img src="{{page.header.image}}" alt="{{page.header.alt}}" class="w-full h-full object-cover absolute">
    </div>
    
    {% if page.header.show-facts == true %}
  
    <div class="grid grid-cols-6 mt-8 mb-8">
      {% for item in page.header.facts %}
      <div class="col-span-2 sm:col-span-1">
        <p class="uppercase font-semibold">{{item.label}}<br><span class="font-bold text-2xl">{{item.value}}</span></p>
      </div>
      {% endfor %}
      
      <div class="col-span-full sm:col-span-3 pt-2 sm:pt-0">
        <p>{{page.header.paragraph}}</p>
      </div>
    </div>

   {% endif %}
  
</header>