  <!----------Gallery----------->
  <section class="container mx-auto px-8">
    <div class="sm:mt-8 mb-2 sm:mb-8 max-w-2xl  text-left {% if block.text-align == 'center' %} sm:text-center m-auto {% endif %}">
      {% if block.big-title %}
      <h2 class="text-3xl sm:text-5xl font-extrabold uppercase pb-1 sm:pb-3">{{ block.big-title }} <span class="text-base sm:text-lg normal-case block">{{block.sub-title}}</span></h2>
      {% endif %}
      {% if block.paragraph %}
      <p>{{block.paragraph}}</p>
      {% endif %}
    </div>
    
    <div class="grid grid-cols-2 sm:grid-cols-3 gap-2 sm:gap-4 pb-5">
      {% for item in block.image %}
      <div>
        <img src="{{item.url}}" alt="{{item.alt}}" class="aspect-square w-full object-cover">
      </div>
      {% endfor %}
    </div>
    
    {% if block.button-url %}
    <div class="flex justify-center">
      <a href="{{block.button-url}}" class="btn-primary">{{block.button-text}}</a>
    </div>
    {% endif %}
  </section>

  