  <!----------Rotate text-------->
  
  <div class="container sm:px-8 mt-5 sm:mt-10 mb-10 sm:mb-24">
  
    <div class="relative">
        <p class="[writing-mode:vertical-rl] rotate-180 absolute left-0 text-5xl font-extrabold uppercase"> {{block.title}} </p>

    <p class="pb-4 ml-14 sm:ml-20 mr-2 sm:mr-0"> {{block.paragraph-1}} </p>
    <p class="pb-4 ml-14 sm:ml-20 mr-2 sm:mr-0"> {{block.paragraph-2}} </p>
    <a href="{{block.button-url}}" class="btn-primary ml-14 sm:ml-20 mr-2 sm:mr-0 mt-2 sm:mt-10">{{block.button-text}}</a>
    </div>

</div>